<ion-header>
 
</ion-header>

<ion-content>
   <!--  <ion-list>
       <ion-item *ngFor="let level of levels">
            <div class="cd-timeline-icon royal">
                {{level.number}}
             </div>
             <div class="cd-timeline-content royal">
                {{level.text}}
             </div>
             {{level.number}}
        </ion-item>
      </ion-list>
      -->
    
  <ion-item>
    
    </ion-item>
  <ion-item>
    <ion-label><h1>Score: </h1></ion-label>
  </ion-item>

<ion-grid>
<ion-row>
<ion-col *ngFor="let categorie of categories"><ion-button> test1</ion-button> </ion-col>

<ion-col> <ion-button>test1</ion-button> </ion-col>

<ion-col> <ion-button>test2</ion-button> </ion-col>

<ion-col> <ion-button>test3</ion-button> </ion-col>

</ion-row>


</ion-grid>
  

<div id="share">
<ion-button shape="round" color="primary">Share</ion-button>
</div>
</ion-content>
