<ion-header>

</ion-header>

<ion-content>
  <ion-item>
    <ion-label >
      <h1>Score: {{score}} </h1>
    </ion-label>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <div *ngFor="let trash of leftSide">
          <ion-button (click)="presentPopover(trash)" style="height: 100px; width:100px;">
            <ion-img style="height: 100px; width:100px;" src={{trash.imageLink}}></ion-img>
          </ion-button>
        </div>
      </ion-col>
      <ion-col size="6">
        <div *ngFor="let trash of rightSide">
          <ion-button (click)="presentPopover(trash)" style="height: 100px; width:100px;">
            <ion-img style="height: 100px; width:100px;" src={{trash.imageLink}}></ion-img>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>You have collected </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div id="share">
    <ion-button (click)="share()" shape="round" color="primary">Share</ion-button>
  </div>
</ion-content>