<ion-content>
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 70%">
      <ion-grid>
        <ion-row justify-content-center align-items-center>
          <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input required></ion-input>
          </ion-item>
        </ion-row>
        <ion-row justify-content-center align-items-center style="margin-top: 20px;">
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input required type="password"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row justify-content-center align-items-center style="margin-top: 20px;">
          <ion-button shape="round">Login</ion-button>
        </ion-row>
        <ion-row justify-content-center align-items-center style="margin-top: 20px;">
          <ion-label routerLink="/register">Register</ion-label>
        </ion-row>
      </ion-grid>

    </ion-row>
    <div class="ocean">
      <div class="wave"></div>
      <div class="wave"></div>
    </div>
  </ion-grid>


</ion-content>