<ion-header>
  <ion-toolbar>
    <ion-title>Informations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mat-accordion *ngFor="let item of informationList">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{item.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <ul>
          <li><p>{{item.description}}</p></li>
          <li><img src={{item.image}}></li> 
        </ul>
      </mat-panel-description>
    </mat-expansion-panel>
  </mat-accordion>
</ion-content>