<ion-header>

  </ion-header>
  
  <ion-content>
      <ion-grid style="height: 100%">
          <ion-row justify-content-center align-items-center style="height: 80%">
            <ion-grid>
            <ion-row justify-content-center align-items-center> 
              <ion-button shape="round" (click)="login()">Login</ion-button>
            </ion-row>
            <ion-row justify-content-center align-items-center style="margin-top: 15px;"> 
              <ion-button shape="round" (click)="status()">Global status</ion-button> 
            </ion-row>
          </ion-grid>
          </ion-row>
      </ion-grid>
  
    <div class="ocean">
      <div class="wave"></div>
      <div class="wave"></div>
    </div>
  </ion-content>
  